/* General styling for navigation links */
.nav-link {
    padding: 0.5rem 1rem;
    color: #4F4F4F;
}

/* Styling for a fixed position button at bottom right */
.fixed-bottom-right {
    position: fixed;
    bottom: 10%;
    right: 1%;
    font-size: 2rem;
    color: #000000;
    cursor: auto;
    z-index: 1000;
    transition: color 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling for the progress ring */
.progress-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    z-index: 0;
}

/* Styling for the circle inside the progress ring */
.progress-ring__circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

/* Styling for a badge with skills or qualifications */
.skill-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    border: 0px solid #000000;
    color: #000000;
    background-color: #ffffff;
    transition: all 0.3s;
}

.skill-badge:hover {
    background-color: #000000;
    color: #ffffff;
    border-color: #000000;
}

.skill-badge svg {
    margin-right: 0.5rem;
    fill: currentColor;
}

/* Styling for a badge or label */
.badge {
    align-items: center;
    justify-content: center;
    color: #000000;
    background-color: #000000;
    color: #ffffff;
    justify-content: center;
    border: 1px solid #ffffff;
    transition: all 0.3s;
}

.badge:hover {
    border: 1px solid #000000;
    cursor: text;
}

.link:hover {
    color: #4F4F4F;
}

/* Styling for images */
.img {
    -webkit-user-drag: none;
}

/* Styling for links */
a {
    position: relative;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    display: inline-block;
    padding: 2px 2px;
}

a::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 0%;
    bottom: calc(100% + 2px);
    transform: translateY(0%);
    background-color: #00000060;
    color: #ffffff;
    padding: 2px 5px;
    border-radius: 24px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 1;
    font-size: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

a:hover::after {
    opacity: 1;
}

/* Style the overall scrollbar */
::-webkit-scrollbar {
    background-color: transparent;
    width: 16px;
}

/* Style the track (part of the scrollbar not covered by the thumb) */
::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 16px;
}

/* Style the draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 16px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* Style the thumb when hovered */
::-webkit-scrollbar-thumb:hover {
    background: #454545;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

/* Style the thumb when active (being dragged) */
::-webkit-scrollbar-thumb:active {
    background-color: #3D3D3D;
    border-radius: 16px;
}